.list-page-content {
  padding: 0 24px;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 24px auto 40px;
  width: 100%;
  max-width: 1050px;
  min-height: 100%;
  max-height: 100%;
}
