.page {
  margin-top: 60px; /* Adjust based on the height of your navbar */
  height: calc(100% - 60px); /* Adjust based on the height of your navbar */
  overflow-y: auto;
  padding: 0 24px;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 24px auto 40px;
  width: 100%;
  max-width: 1050px;
  min-height: 100%;
  max-height: 100%;
}
